.category-page {
        background-color: #f1f8fc;
        padding: 16px 16px;

        &__container {
                display: flex;
                flex-direction: column;
                align-items: center;
                max-width: 1200px;
                margin: 0 auto;
        }

        &__count {
                color: #384050;
                font-size: 16px;
                margin-bottom: 32px;
        }

        &__grid {
                display: grid;
                gap: 24px;
        }

        @media (min-width: 768px) {
                padding: 72px 32px;

                &__grid {
                        grid-template-columns: repeat(2, 1fr);
                }
        }

        @media (min-width: 1200px) {
                padding: 80px 120px;

                &__grid {
                        grid-template-columns: repeat(3, 1fr);
                }
        }
}
