.search-page {
        background-color: #f1f8fc;
        padding: 48px 16px;

        &__container {
                display: flex;
                flex-direction: column;
                align-items: center;
                max-width: 1200px;
                margin: 0 auto;
        }

        &__query {
                color: #384050;
                font-size: 16px;
                margin-bottom: 32px;
        }

        &__search {
                display: flex;
                align-items: center;
                margin-bottom: 16px;    

                button {
                        border: none;
                        background: transparent;
                        cursor: pointer;
                        margin: 0 8px;
                        padding: 0;

                        img {
                                width: 32px;
                        }
                }

                input {
                        width: 100%;
                        max-width: 400px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        padding: 8px 12px;
                        font-size: 14px;
                }
        }

        &__mobile-list {
                display: grid;
                gap: 1rem;
        }

        &__grid {
                display: none;
        }

        @media (min-width: 768px) {
                padding: 64px 32px;

                &__mobile-list {
                        display: none;
                }

                &__grid {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: 1.5rem;
                }
        }

        @media (min-width: 1200px) {
                padding: 80px 120px;

                &__grid {
                        grid-template-columns: repeat(3, 1fr);
                }
        }
}
